/* Coolors Exported Palette - coolors.co/4281a4-48a9a6-e4dfda-d4b483-c1666b */

$blue: #4281a4; //rgba(66, 129, 164, 100)
$teal: #48a9a6; //rgba(72, 169, 166, 100)
$cream: #e4dfda; //rgba(228, 223, 218, 100)
$yellow: #d4b483; //rgba(212, 180, 131, 100)
$red: #c1666b; //rgba(193, 102, 107, 100)